<div class="main">
    <div class="body">
        <div class="collection-title-desc">
            <div class="collection-title"> Shop Now </div>
            <div class="collection-desc">Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </div>
        </div>
        <div class="main-content">
            <div class="product-container" ng-repeat="product in products">
                <div class="product-desc">
                    <div class="item-title"> {{product.title}} </div>
                    <hr>
                    <div class="item-desc">{{product.description}} </div>
                    <br>
                    <div class="currency">{{product.price | currency}} </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
