html,
body {
    /*height: 100%;*/
    margin: auto;
}

.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 30px;
    /*text-align: center;*/
}

ul {
	text-decoration:none;
}

li {
    display: inline;
    text-decoration: none;
    padding: 5px;
}

.main {
    background-color: #F0F0F0;
    margin: auto;
    width: 100%;
    height: 100%;
    /*min-width: 500px;*/
    box-shadow: 1px 1px 1px #888888;
}

.body {
    background-color: #FFFFFF;
    width: 70%;
    max-width: 800px;
    /*min-width: 600px;*/
    height: 100%;
    margin: auto;
}

.collection-title-desc {
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

.collection-title {
    font-size: 30px;
    padding top: 10px;
    padding-bottom: 10px
}

.collection-desc {
    padding top: 10px;
    padding-bottom: 10px
}

.main-content {
    margin: 0 auto;
    align-items: stretch;
    width: 100%;
    display: inline-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.product-image {
    display: inline-block;
    float: left;
    width: 200px;
    height: 100%;
    padding: 1%;
}

.product-desc {
    max-height: 200px;
}

.item-title {
    font-size: 1em;
}

.item-desc {
    font-size: .5em;
}

.currency {}

img {
    width: 100%;
    height: 100%;
}


/*
* {
	outline: 1px  solid red;
}*/
